/*---------- RESET DE CSS ----------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*---------- TERMINA RESET DE CSS ----------*/
body {
  font-family: "Montserrat", sans-serif; }

.main-container {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "header" "sectionA" "sectionB" "sectionC" "footer";
  color: white; }

.header {
  width: 100%;
  height: 100px;
  background-color: #0b1728;
  position: fixed;
  z-index: 2; }
  .header__layout {
    width: 100%;
    max-width: 1110px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "header header header header header header header header header header header header";
    column-gap: 30px;
    margin: 0 auto;
    position: relative; }
  .header__container {
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    grid-area: header;
    grid-column-start: 2;
    grid-column-end: 12;
    display: flex;
    flex-flow: row nowrap; }
  .header__logo {
    width: 160px;
    height: 64px; }
  .header__menu-desktop {
    display: flex;
    flex-flow: row nowrap; }
    .header__menu-desktop a {
      text-decoration: none;
      color: white; }
    .header__menu-desktop div {
      margin: 0 30px;
      height: 100px;
      padding: 0 16px;
      padding-top: 41px;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out; }
      .header__menu-desktop div p {
        text-transform: uppercase;
        font-size: 15;
        line-height: 18px;
        font-weight: 700; }
      .header__menu-desktop div:first-child {
        margin-left: 0px; }
      .header__menu-desktop div:last-child {
        margin-right: 0px; }
      .header__menu-desktop div:hover {
        background-color: #11233b; }
        .header__menu-desktop div:hover p {
          color: cyan; }
  .header__menu-mobile {
    width: 100%;
    background-color: #0b1728;
    position: absolute;
    top: 100%;
    left: 0%;
    right: 100%;
    display: none; }
    .header__menu-mobile a {
      text-decoration: none;
      color: white; }
    .header__menu-mobile div {
      width: 100%;
      height: 58px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out; }
      .header__menu-mobile div p {
        text-transform: uppercase;
        font-size: 15;
        line-height: 18px;
        font-weight: 700; }
      .header__menu-mobile div:hover {
        background-color: #11233b; }
        .header__menu-mobile div:hover p {
          color: cyan; }
  .header #header__menu-icoMobile {
    width: 36px;
    height: 36px;
    display: none; }

.sectionA {
  grid-area: sectionA;
  width: 100%;
  height: 400px;
  margin-top: 100px;
  background: #020024;
  background: linear-gradient(90deg, #151b37 0%, #067079 100%); }
  .sectionA__layout {
    width: 100%;
    max-width: 1110px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "sectionA sectionA sectionA sectionA sectionA sectionA sectionA sectionA sectionA sectionA sectionA sectionA";
    column-gap: 30px;
    margin: 0 auto; }
  .sectionA__container {
    width: 100%;
    height: 400px;
    align-items: center;
    justify-content: space-between;
    grid-area: sectionA;
    grid-column-start: 2;
    grid-column-end: 12;
    display: flex;
    flex-flow: row nowrap; }
  .sectionA__texto {
    width: 50%;
    max-width: 445px; }
    .sectionA__texto h1 {
      font-size: 50px;
      font-weight: 800;
      line-height: 61px;
      text-transform: uppercase; }
    .sectionA__texto p {
      font-size: 15px;
      font-weight: 400;
      line-height: 18px;
      margin-top: 15px; }
      .sectionA__texto p span {
        font-weight: 700; }
  .sectionA__imagen {
    width: 50%; }
    .sectionA__imagen-container {
      width: 100%;
      max-width: 360px;
      margin-left: auto;
      position: relative; }
      .sectionA__imagen-container .chest {
        width: 100%; }
      .sectionA__imagen-container .coin {
        position: absolute; }
        .sectionA__imagen-container .coin-front {
          width: 120px;
          top: -60px;
          left: -60px; }
        .sectionA__imagen-container .coin-back {
          width: 30px;
          top: 60px;
          left: 30px; }
        .sectionA__imagen-container .coin-middle {
          width: 60px;
          top: 0;
          left: calc(100% - 60px); }

.sectionB {
  grid-area: sectionB;
  width: 100%;
  height: 500px;
  margin: 0 auto;
  background: no-repeat center url("../resources/blurred-bg.jpg");
  background-size: cover;
  position: relative; }
  .sectionB-image {
    position: absolute;
    width: 100%;
    bottom: calc(0% - 70px);
    z-index: 1; }
  .sectionB-overlay {
    width: 100%;
    height: 100%;
    background: #151b37;
    background: linear-gradient(0deg, #151b37 0%, rgba(0, 0, 0, 0.3) 15%);
    position: absolute;
    z-index: 0; }
  .sectionB__layout {
    width: 100%;
    max-width: 1110px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 500px;
    grid-template-areas: "sectionB sectionB sectionB sectionB sectionB sectionB sectionB sectionB sectionB sectionB sectionB sectionB";
    column-gap: 30px;
    margin: 0 auto;
    position: relative; }
  .sectionB__container {
    width: 100%;
    height: min-content;
    align-items: center;
    justify-content: start;
    grid-area: sectionB;
    grid-column-start: 2;
    grid-column-end: 12;
    display: flex;
    flex-flow: column nowrap;
    text-align: center; }
    .sectionB__container h2 {
      font-size: 50px;
      font-weight: 800;
      line-height: 61px;
      text-transform: uppercase;
      margin-top: 90px; }
    .sectionB__container p {
      font-size: 15px;
      font-weight: 400;
      line-height: 18px;
      margin-top: 30px; }
    .sectionB__container button {
      width: max-content;
      height: 48px;
      padding: 0 16px;
      margin-top: 40px;
      font-size: 18px;
      font-weight: 700;
      line-height: 22px;
      text-transform: uppercase;
      background-color: #143d52;
      color: white;
      border: unset;
      border-radius: 6px;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out; }
      .sectionB__container button:hover {
        background-color: #246b8f;
        cursor: pointer; }

.sectionC {
  grid-area: sectionC;
  width: 100%;
  margin: 0 auto;
  background-color: #151b37; }
  .sectionC__layout {
    width: 100%;
    max-width: 1110px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    margin: 0 auto;
    position: relative;
    padding-top: 115px; }

.faq {
  width: 100%;
  text-align: center;
  font-size: 50px;
  font-weight: 800;
  line-height: 61px;
  text-transform: uppercase;
  margin: 30px auto;
  color: cyan; }

.tarjeta {
  width: 685px;
  height: 300px;
  margin: 25px auto;
  position: relative;
  background-color: transparent;
  border: 0; }
  .tarjeta:hover .tarjeta__body {
    box-shadow: 0px 0px 8px 0px rgba(0, 255, 255, 0.5); }
  .tarjeta__body {
    width: 633px;
    height: 100%;
    background-color: #172e4f;
    border-radius: 5px;
    padding-top: 60px; }
    .tarjeta__body h3 {
      font-family: "Montserrat", sans-serif;
      font-size: 24px;
      font-weight: 700;
      line-height: 29px;
      text-transform: uppercase;
      width: 312px; }
    .tarjeta__body p {
      font-family: "Montserrat", sans-serif;
      font-size: 15px;
      font-weight: 400;
      line-height: 18px;
      width: 312px;
      margin-top: 30px; }
    .tarjeta__body.right {
      margin-right: auto; }
      .tarjeta__body.right h3, .tarjeta__body.right p {
        margin-left: 50px; }
    .tarjeta__body.left {
      margin-left: auto; }
      .tarjeta__body.left h3, .tarjeta__body.left p {
        margin-left: 271px; }
  .tarjeta__image.right {
    width: 280px;
    height: 240px;
    position: absolute;
    top: calc(0% + 30px);
    right: 0%; }
  .tarjeta__image.left {
    width: 280px;
    height: 240px;
    position: absolute;
    top: calc(0% + 30px);
    left: 0%; }
  .tarjeta__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px; }

footer {
  grid-area: footer;
  width: 100%;
  height: 103px;
  margin: 0 auto;
  background: linear-gradient(90deg, #067079 0%, #151b37 100%); }
  footer .footer__layout {
    width: 100%;
    max-width: 1110px;
    height: 103px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "copy copy copy copy copy rrss rrss author author author author author";
    column-gap: 30px;
    margin: 0 auto; }
    footer .footer__layout p {
      width: max-content;
      height: max-content;
      font-family: "Montserrat", sans-serif;
      font-size: 12px;
      line-height: 15px; }
    footer .footer__layout-copy {
      grid-area: copy;
      text-align: right;
      margin-top: 44px;
      grid-column-start: 2; }
      footer .footer__layout-copy span {
        font-weight: 600; }
    footer .footer__layout-rrss {
      grid-area: rrss;
      margin: 0 auto;
      margin-top: 40px;
      min-width: 107px; }
      footer .footer__layout-rrss i {
        font-size: 24px;
        color: white;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out; }
        footer .footer__layout-rrss i:hover {
          color: cyan; }
      footer .footer__layout-rrss a {
        margin-left: 15px; }
        footer .footer__layout-rrss a:first-child {
          margin-left: 0; }
    footer .footer__layout-author {
      grid-area: author;
      text-align: right;
      text-decoration: none;
      color: white;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
      margin-top: 44px;
      font-weight: 400;
      margin-left: auto;
      grid-column-end: 12; }
      footer .footer__layout-author:hover {
        color: cyan; }
        footer .footer__layout-author:hover i:first-child {
          color: red; }

.accordion {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px; }
  .accordion-item {
    background-color: #172e4f;
    border-color: cyan; }
  .accordion-button {
    background-color: #151b37;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 600; }
    .accordion-button::after {
      background-image: url("../resources/arrow_down.svg"); }
    .accordion-button:hover {
      background-color: #1c244a; }
    .accordion-button:not(.collapsed) {
      background-color: #1c244a;
      box-shadow: inset 0 -1px rgba(0, 255, 255, 0.125);
      color: white; }
      .accordion-button:not(.collapsed)::after {
        background-image: url("../resources/arrow_up.svg"); }
  .accordion a {
    text-decoration: none;
    color: cyan;
    font-weight: 500; }
    .accordion a:hover {
      text-decoration: underline; }

@media screen and (max-width: 768px) {
  .header__menu-desktop div {
    height: 100px;
    padding-top: 42px; }
    .header__menu-desktop div p {
      font-size: 13px;
      line-height: 15.85px; }
  .sectionA__texto h1 {
    font-size: 30px;
    line-height: 36.57px; }
  .sectionA__texto p {
    font-size: 13px;
    line-height: 15.85px; }
  .sectionA__imagen-container .coin-front {
    width: 60px;
    left: 0; }
  .sectionA__imagen-container .coin-back {
    width: 20px;
    top: 40px;
    left: 40px; }
  .sectionA__imagen-container .coin-middle {
    width: 40px;
    left: calc(100% - 80px); }
  .sectionB-image {
    bottom: 0; }
  .sectionC__layout {
    padding-top: 30px; }
  .tarjeta {
    width: 100%;
    max-width: 570px;
    height: 276px; }
    .tarjeta__body {
      width: 527px;
      padding-top: 30px; }
      .tarjeta__body h3 {
        width: 268px; }
      .tarjeta__body p {
        width: 268px; }
      .tarjeta__body.right h3, .tarjeta__body.right p {
        margin-left: 20px; }
      .tarjeta__body.left h3, .tarjeta__body.left p {
        margin-left: 244px; }
    .tarjeta__image.right {
      width: 272px;
      height: 236px;
      top: calc(0% + 20px); }
    .tarjeta__image.left {
      width: 272px;
      height: 236px;
      top: calc(0% + 20px); }
  footer .footer__layout-rrss {
    width: 100%;
    min-width: 80px;
    height: 103px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center; }
    footer .footer__layout-rrss a {
      margin-left: unset; }
  .accordion {
    width: 80%; } }

@media screen and (max-width: 600px) {
  .header__menu-desktop {
    display: none; }
    .header__menu-desktop div p {
      font-size: 13px; }
  .header #header__menu-icoMobile {
    display: block; }
  .sectionB {
    height: 400px; }
    .sectionB__container h2 {
      font-size: 46px;
      line-height: 56.07px;
      margin-top: 30px; }
  .sectionC__layout {
    width: 90%;
    padding-top: 0;
    margin-bottom: 30px; }
  .tarjeta {
    max-width: unset;
    height: unset;
    margin: 0 auto;
    margin-top: 30px; }
    .tarjeta__body {
      width: 100%;
      padding-top: 150px;
      height: unset;
      padding-bottom: 20px; }
      .tarjeta__body h3, .tarjeta__body p {
        margin: 0 auto;
        padding-top: 20px;
        width: calc(100% - 40px); }
      .tarjeta__body.right h3, .tarjeta__body.right p, .tarjeta__body.left h3, .tarjeta__body.left p {
        margin: 0 auto;
        width: calc(100% - 40px); }
    .tarjeta__image.right, .tarjeta__image.left {
      width: 100%;
      height: 150px;
      top: 0px; }
    .tarjeta__image img {
      border-radius: 5px 5px 0px 0px; }
  footer .footer__layout {
    grid-template-rows: 50px auto;
    grid-template-areas: "copy copy copy copy copy copy rrss rrss rrss rrss rrss rrss" "author author author author author author author author author author author author"; }
    footer .footer__layout-copy {
      margin-top: 18px; }
    footer .footer__layout-rrss {
      grid-area: rrss;
      grid-column-end: 12;
      margin: unset;
      margin-top: 15px;
      margin-left: auto;
      height: 50px;
      display: block;
      width: unset; }
      footer .footer__layout-rrss a {
        margin-left: 15px; }
        footer .footer__layout-rrss a:first-child {
          margin-left: 0; }
    footer .footer__layout-author {
      grid-area: author;
      text-align: center;
      margin: 0 auto;
      margin-top: 15px; }
  .accordion {
    width: 90%; } }

@media screen and (max-width: 425px) {
  .sectionA {
    height: auto; }
    .sectionA__container {
      height: auto;
      flex-flow: column-reverse; }
    .sectionA__texto {
      width: 100%;
      margin-bottom: 30px; }
    .sectionA__imagen {
      width: 90%;
      margin-top: 60px; }
  .sectionB {
    height: 410px; }
  .accordion {
    width: 100%; } }

@media screen and (max-width: 375px) {
  .faq {
    font-size: 46px;
    line-height: 56.07px; }
  footer .footer__layout {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 15px;
    justify-content: space-between;
    align-items: center; }
    footer .footer__layout-copy {
      margin: 0;
      text-align: center; }
    footer .footer__layout-rrss {
      margin: 0;
      height: 24px; }
    footer .footer__layout-author {
      margin: 0; }
  .accordion {
    width: 100%; } }
