/*---------- RESET DE CSS ----------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*---------- TERMINA RESET DE CSS ----------*/
@import 'variables.scss';

body{
	font-family: $fontMontserrat;
}

.main-container{
	width: 100%;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto;
	grid-template-areas:
						"header"
						"sectionA"
						"sectionB"
						"sectionC"
						"footer";
	color: $colorWhite;
}

.header{
	width: 100%;
	height: 100px;
	background-color: $colorSecundary;
	position: fixed;
	z-index: 2;
	&__layout{
		width: 100%;
		max-width: 1110px;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: auto;
		grid-template-areas:
							"header header header header header header header header header header header header";
		column-gap: 30px;
		margin: 0 auto;
		position: relative;
	}
	&__container{
		width: 100%;
		height: 100px;
		align-items: center;
		justify-content: space-between;
		grid-area: header;
		grid-column-start: 2;
		grid-column-end: 12;
		display: flex;
		flex-flow: row nowrap;
	}
	&__logo{
		width: 160px;
		height: 64px;
	}
	&__menu-desktop{
		display: flex;
		flex-flow: row nowrap;
		a{
			text-decoration: none;
			color: $colorWhite;
		}
		div{
			margin: 0 30px;
			height: 100px;
			padding: 0 16px;
			padding-top: 41px;
			transition: $transitionHover;
			p{
				text-transform: uppercase;
				font-size: 15;
				line-height: 18px;
				font-weight: 700;
			}
			&:first-child{
				margin-left: 0px;
			}
			&:last-child{
				margin-right: 0px;
			}
			&:hover{
				background-color: $colorSecundaryHover;
				p{
					color: $colorPrimary;
				}
			}
		}
	}
	&__menu-mobile{
		width: 100%;
		background-color: $colorSecundary;
		position: absolute;
		top: 100%;
		left: 0%;
		right: 100%;
		display: none;
		a{
			text-decoration: none;
			color: $colorWhite;
		}
		div{
			width: 100%;
			height: 58px;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: $transitionHover;
			p{
				text-transform: uppercase;
				font-size: 15;
				line-height: 18px;
				font-weight: 700;
			}
			&:hover{
				background-color: $colorSecundaryHover;
				p{
					color: $colorPrimary;
				}
			}
		}
	}
	#header__menu-icoMobile{
		width: 36px;
		height: 36px;
		display: none;
	}
}

.sectionA{
	grid-area: sectionA;
	width: 100%;
	height: 400px;
	margin-top: 100px;
	background: rgb(2,0,36);
	background: linear-gradient(90deg, $colorBlueDark 0%, $colorBlueLight 100%);
	&__layout{
		width: 100%;
		max-width: 1110px;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: auto;
		grid-template-areas:
							"sectionA sectionA sectionA sectionA sectionA sectionA sectionA sectionA sectionA sectionA sectionA sectionA";
		column-gap: 30px;
		margin: 0 auto;
	}
	&__container{
		width: 100%;
		height: 400px;
		align-items: center;
		justify-content: space-between;
		grid-area: sectionA;
		grid-column-start: 2;
		grid-column-end: 12;
		display: flex;
		flex-flow: row nowrap;
	}
	&__texto{
		width: 50%;
		max-width: 445px;
		& h1{
			font-size: 50px;
			font-weight: 800;
			line-height: 61px;
			text-transform: uppercase;
		}
		& p{
			font-size: 15px;
			font-weight: 400;
			line-height: 18px;
			margin-top: 15px;
			& span{
				font-weight: 700;
			}
		}
	}
	&__imagen{
		width: 50%;
		&-container{
			width: 100%;
			max-width: 360px;
			margin-left: auto;
			position: relative;
			& .chest{
				width: 100%;
			}
			& .coin{
				position: absolute;
				&-front{
					width: 120px;
					top: -60px;
					left: -60px;
				}
				&-back{
					width: 30px;
					top: 60px;
					left: 30px;
				}
				&-middle{
					width: 60px;
					top: 0;
					left: calc(100% - 60px);
				}
			}
		}
	}
}

.sectionB{
	grid-area: sectionB;
	width: 100%;
	height: 500px;
	margin: 0 auto;
	background: no-repeat center url("../resources/blurred-bg.jpg");
	background-size: cover;
	position: relative;
	&-image{
		position: absolute;
		width: 100%;
		bottom: calc(0% - 70px);
		z-index: 1;
	}
	&-overlay{
		width: 100%;
		height: 100%;
		background: rgb(21,27,55);
		background: linear-gradient(0deg, $colorBlueDark 0%, hsla(0,0,0,0.3) 15%);
		position: absolute;
		z-index: 0;
	}
	&__layout{
		width: 100%;
		max-width: 1110px;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: 500px;
		grid-template-areas:
							"sectionB sectionB sectionB sectionB sectionB sectionB sectionB sectionB sectionB sectionB sectionB sectionB";
		column-gap: 30px;
		margin: 0 auto;
		position: relative;
	}
	&__container{
		width: 100%;
		height: min-content;
		align-items: center;
		justify-content: start;
		grid-area: sectionB;
		grid-column-start: 2;
		grid-column-end: 12;
		display: flex;
		flex-flow: column nowrap;
		text-align: center;
		& h2{
			font-size: 50px;
			font-weight: 800;
			line-height: 61px;
			text-transform: uppercase;
			margin-top: 90px;
		}
		& p{
			font-size: 15px;
			font-weight: 400;
			line-height: 18px;
			margin-top: 30px;
		}
		& button{
			width: max-content;
			height: 48px;
			padding: 0 16px;
			margin-top: 40px;
			font-size: 18px;
			font-weight: 700;
			line-height: 22px;
			text-transform: uppercase;
			background-color: $colorComplementary;
			color: $colorWhite;
			border: unset;
			border-radius: 6px;
			transition: $transitionHover;
			&:hover{
				background-color: $colorComplementaryHover;
				cursor: pointer;
			}
		}
	}
}

.sectionC{
	grid-area: sectionC;
	width: 100%;
	margin: 0 auto;
	background-color: $colorBlueDark;
	&__layout{
		width: 100%;
		max-width: 1110px;
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: auto;
		margin: 0 auto;
		position: relative;
		padding-top: 115px;
	}
}

.faq{
	width: 100%;
	text-align: center;
	font-size: 50px;
	font-weight: 800;
	line-height: 61px;
	text-transform: uppercase;
	margin: 30px auto;
	color: $colorPrimary;
}

.tarjeta{
	width: 685px;
	height: 300px;
	margin: 25px auto;
	position: relative;
	background-color: transparent;
	border: 0;
	&:hover .tarjeta__body{
		box-shadow: 0px 0px 8px 0px hsla(180,100,50,0.5);
	}
	&__body{
		width: 633px;
		height: 100%;
		background-color: $colorBackground;
		border-radius: 5px;
		padding-top: 60px;
		h3{
			font-family: $fontMontserrat;
			font-size: 24px;
			font-weight: 700;
			line-height: 29px;
			text-transform: uppercase;
			width: 312px;
		}
		p{
			font-family: $fontMontserrat;
			font-size: 15px;
			font-weight: 400;
			line-height: 18px;
			width: 312px;
			margin-top: 30px;
		}
		&.right{
			margin-right: auto;
			h3, p{
				margin-left: 50px;
			}
		}
		&.left{
			margin-left: auto;
			h3, p{
				margin-left: 271px;
			}
		}
	}
	&__image{
		&.right{
			width: 280px;
			height: 240px;
			position: absolute;
			top: calc(0% + 30px);
			right: 0%;
		}
		&.left{
			width: 280px;
			height: 240px;
			position: absolute;
			top: calc(0% + 30px);
			left: 0%;
		}
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 5px;
		}
	}
}

footer{
	grid-area: footer;
	width: 100%;
	height: 103px;
	margin: 0 auto;
	background: linear-gradient(90deg, $colorBlueLight 0%, $colorBlueDark 100%);
	.footer__layout{
		width: 100%;
		max-width: 1110px;
		height: 103px;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: auto;
		grid-template-areas:
							"copy copy copy copy copy rrss rrss author author author author author";
		column-gap: 30px;
		margin: 0 auto;
		p{
			width: max-content;
			height: max-content;
			font-family: $fontMontserrat;
			font-size: 12px;
			line-height: 15px;
		}
		&-copy{
			grid-area: copy;
			text-align: right;
			margin-top: 44px;
			grid-column-start: 2;
			& span{
				font-weight: 600;
			}
		}
		&-rrss{
			grid-area: rrss;
			margin: 0 auto;
			margin-top: 40px;
			min-width: 107px;
			& i{
				font-size: 24px;
				color: $colorWhite;
				transition: $transitionHover;
				&:hover{
					color: $colorPrimary;
				}
			}
			a{
				margin-left: 15px;
				&:first-child{
					margin-left: 0;
				}
			}
		}
		&-author{
			grid-area: author;
			text-align: right;
			text-decoration: none;
			color: $colorWhite;
			transition: $transitionHover;
			margin-top: 44px;
			font-weight: 400;
			margin-left: auto;
			grid-column-end: 12;
			&:hover{
				color: $colorPrimary;
				i:first-child{
					color: red;
				}
			}
		}
	}
}

.accordion{
	width: 80%;
	margin: 0 auto;
	margin-bottom: 30px;
	&-item{
		background-color: $colorBackground;
		border-color: $colorPrimary;
	}
	&-button{
		background-color: $colorBlueDark;
		color: $colorWhite;
		font-family: $fontMontserrat;
		font-weight: 600;
		&::after{
			background-image: url("../resources/arrow_down.svg");
		}
		&:hover{
			background-color: $colorBlueDarkHover;
		}
		&:not(.collapsed){
			background-color: $colorBlueDarkHover;
			box-shadow: inset 0 -1px hsla(180,100,50,.125);
			color: $colorWhite;
			&::after{
				background-image: url("../resources/arrow_up.svg");
			}
		}
	}
	a{
		text-decoration: none;
		color: $colorPrimary;
		font-weight: 500;
		&:hover{
			text-decoration: underline;
		}
	}
}

@media screen and (max-width: 768px) {
	.header{
		&__menu-desktop{
			div{
				height: 100px;
				padding-top: 42px;
				p{
					font-size: 13px;
					line-height: 15.85px;
				}
			}
		}
	}
	.sectionA{
		&__texto{
			& h1{
				font-size: 30px;
				line-height: 36.57px;
			}
			& p{
				font-size: 13px;
				line-height: 15.85px;
			}
		}
		&__imagen{
			&-container{
				& .coin{
					&-front{
						width: 60px;
						left: 0;
					}
					&-back{
						width: 20px;
						top: 40px;
						left: 40px;
					}
					&-middle{
						width: 40px;
						left: calc(100% - 80px);
					}
				}
			}
		}
	}
	.sectionB{
		&-image{
			bottom: 0;
		}
	}
	.sectionC{
		&__layout{
			padding-top: 30px;
		}
	}
	.tarjeta{
		width: 100%;
		max-width: 570px;
		height: 276px;
		&__body{
			width: 527px;
			padding-top: 30px;
			h3{
				width: 268px;
			}
			p{
				width: 268px;
			}
			&.right{
				h3, p{
					margin-left: 20px;
				}
			}
			&.left{
				h3, p{
					margin-left: 244px;
				}
			}
		}
		&__image{
			&.right{
				width: 272px;
				height: 236px;
				top: calc(0% + 20px);
			}
			&.left{
				width: 272px;
				height: 236px;
				top: calc(0% + 20px);
			}
		}
	}
	footer{
		.footer__layout{
			&-rrss{
				width: 100%;
				min-width: 80px;
				height: 103px;
				margin: 0 auto;
				display: flex;
				flex-flow: row nowrap;
				justify-content: space-between;
				align-items: center;
				a{
					margin-left: unset;
				}
			}
		}
	}
	.accordion{
		width: 80%;
	}
}

@media screen and (max-width: 600px) {
	.header{
		&__menu-desktop{
			display: none;
			div{
				p{
					font-size: 13px;
				}
			}
		}
		#header__menu-icoMobile{
			display: block;
		}
	}
	.sectionB{
		height: 400px;
		&__container{
			& h2{
				font-size: 46px;
				line-height: 56.07px;
				margin-top: 30px;
			}
		}
	}
	.sectionC{
		&__layout{
			width: 90%;
			padding-top: 0;
			margin-bottom: 30px;
		}
	}
	.tarjeta{
		max-width: unset;
		height: unset;
		margin: 0 auto;
		margin-top: 30px;
		&__body{
			width: 100%;
			padding-top: 150px;
			height: unset;
			padding-bottom: 20px;
			h3, p{
				margin: 0 auto;
				padding-top: 20px;
				width: calc(100% - 40px);
			}
			&.right, &.left{
				h3, p{
					margin: 0 auto;
					width: calc(100% - 40px);
				}
			}
		}
		&__image{
			&.right, &.left{
				width: 100%;
				height: 150px;
				top: 0px;
			}
			img{
				border-radius: 5px 5px 0px 0px;
			}
		}
	}
	footer{
		.footer__layout{
			grid-template-rows: 50px auto;
			grid-template-areas:
								"copy copy copy copy copy copy rrss rrss rrss rrss rrss rrss"
								"author author author author author author author author author author author author";
			&-copy{
				margin-top: 18px;
			}
			&-rrss{
				grid-area: rrss;
				grid-column-end: 12;
				margin: unset;
				margin-top: 15px;
				margin-left: auto;
				height: 50px;
				display: block;
				width: unset;
				a{
					margin-left: 15px;
					&:first-child{
						margin-left: 0;
					}
				}
			}
			&-author{
				grid-area: author;
				text-align: center;
				margin: 0 auto;
				margin-top: 15px;
			}
		}
	}
	.accordion{
		width: 90%;
	}
}

@media screen and (max-width: 425px) {
	.sectionA{
		height: auto;
		&__container{
			height: auto;
			flex-flow: column-reverse;
		}
		&__texto{
			width: 100%;
			margin-bottom: 30px;
		}
		&__imagen{
			width: 90%;
			margin-top: 60px;
		}
	}
	.sectionB{
		height: 410px;
	}
	.accordion{
		width: 100%;
	}
}

@media screen and (max-width: 375px) {
	.faq{
		font-size: 46px;
		line-height: 56.07px;
	}
	footer{
		.footer__layout{
			display: flex;
			flex-flow: column nowrap;
			height: 100%;
			padding-top: 10px;
			padding-bottom: 15px;
			justify-content: space-between;
			align-items: center;
			&-copy{
				margin: 0;
				text-align: center;
			}
			&-rrss{
				margin: 0;
				height: 24px;
			}
			&-author{
				margin: 0;
			}
		}
	}
	.accordion{
		width: 100%;
	}
}