/*---------- RESET DE CSS ----------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	height: 100%;
}
body {
	line-height: 1;
	height: calc(100% - 321px);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*---------- TERMINA RESET DE CSS ----------*/

@import 'variables.scss';

.container{
	width: 100%;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto;
	grid-template-areas:
						"header"
						"sectionA"
						"sectionB"
						"sectionC"
						"footer";
	background-color: aqua;
}
.header{
	grid-area: header;
	width: 100%;
	max-width: 1110px;
	height: 100px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	&__logo{
		width: 160px;
		height: 64px;
	}
}
.sectionA{
	grid-area: sectionA;
	width: 100%;
	max-width: 1110px;
	height: 400px;
	margin: 0 auto;
}
.sectionB{
	grid-area: sectionB;
	width: 100%;
	max-width: 1110px;
	height: 500px;
	margin: 0 auto;
}
.sectionC{
	grid-area: sectionC;
	width: 100%;
	max-width: 1110px;
	height: 888px;
	margin: 0 auto;
}
footer{
	grid-area: footer;
	width: 100%;
	max-width: 1110px;
	height: 103px;
	margin: 0 auto;
}