/*---------- RESET DE CSS ----------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  height: 100%; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*---------- TERMINA RESET DE CSS ----------*/
body {
  font-family: "Montserrat", sans-serif; }

.main-container {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "header" "sectionA" "sectionB" "sectionC" "footer";
  color: white; }

.header {
  width: 100%;
  height: 100px;
  background-color: #0b1728; }
  .header__layout {
    width: 100%;
    max-width: 1110px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "header header header header header header header header header header header header";
    column-gap: 30px;
    margin: 0 auto; }
  .header__container {
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    grid-area: header;
    grid-column-start: 2;
    grid-column-end: 12;
    display: flex;
    flex-flow: row nowrap; }
  .header__logo {
    width: 160px;
    height: 64px; }
  .header nav {
    display: flex;
    flex-flow: row nowrap; }
    .header nav div {
      margin: 0 30px;
      height: 65px;
      padding: 0 16px;
      padding-top: 35px; }
      .header nav div a {
        text-transform: uppercase; }
      .header nav div:first-child {
        margin-left: 0px;
        padding-left: 0; }
      .header nav div:last-child {
        margin-right: 0px;
        padding-right: 0; }

.sectionA {
  grid-area: sectionA;
  width: 100%;
  height: 400px;
  background: #020024;
  background: linear-gradient(90deg, #151b37 0%, #067079 100%); }
  .sectionA__layout {
    width: 100%;
    max-width: 1110px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "sectionA sectionA sectionA sectionA sectionA sectionA sectionA sectionA sectionA sectionA sectionA sectionA";
    column-gap: 30px;
    margin: 0 auto; }
  .sectionA__container {
    width: 100%;
    height: 400px;
    align-items: center;
    justify-content: space-between;
    grid-area: sectionA;
    grid-column-start: 2;
    grid-column-end: 12;
    display: flex;
    flex-flow: row nowrap; }
  .sectionA__texto {
    width: 50%;
    max-width: 445px; }
    .sectionA__texto h1 {
      font-size: 50px;
      font-weight: 800;
      line-height: 61px;
      text-transform: uppercase; }
    .sectionA__texto p {
      font-size: 15px;
      font-weight: 400;
      line-height: 18px;
      margin-top: 15px; }
      .sectionA__texto p span {
        font-weight: 700; }
  .sectionA__imagen {
    width: 50%; }
    .sectionA__imagen-container {
      width: 360px;
      height: 300px;
      margin-left: auto;
      position: relative; }
      .sectionA__imagen-container .chest {
        width: 100%; }
      .sectionA__imagen-container .coin {
        position: absolute; }
        .sectionA__imagen-container .coin-front {
          width: 120px;
          top: -80px;
          left: -60px; }
        .sectionA__imagen-container .coin-back {
          width: 30px;
          top: 60px;
          left: 30px; }
        .sectionA__imagen-container .coin-middle {
          width: 60px;
          top: 0;
          left: calc(100% - 60px); }

.sectionB {
  grid-area: sectionB;
  width: 100%;
  height: 500px;
  margin: 0 auto;
  background: no-repeat center url("../resources/blurred-bg.jpg");
  background-size: cover;
  position: relative; }
  .sectionB-image {
    position: absolute;
    width: 100%;
    bottom: calc(0% - 70px);
    z-index: 1; }
  .sectionB-overlay {
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.3;
    position: absolute;
    z-index: 0; }
  .sectionB__layout {
    width: 100%;
    max-width: 1110px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 500px;
    grid-template-areas: "sectionB sectionB sectionB sectionB sectionB sectionB sectionB sectionB sectionB sectionB sectionB sectionB";
    column-gap: 30px;
    margin: 0 auto;
    position: relative; }
  .sectionB__container {
    width: 100%;
    height: min-content;
    align-items: center;
    justify-content: start;
    grid-area: sectionB;
    grid-column-start: 2;
    grid-column-end: 12;
    display: flex;
    flex-flow: column nowrap;
    text-align: center; }
    .sectionB__container h2 {
      font-size: 50px;
      font-weight: 800;
      line-height: 61px;
      text-transform: uppercase;
      margin-top: 90px; }
    .sectionB__container p {
      font-size: 15px;
      font-weight: 400;
      line-height: 18px;
      margin-top: 30px; }
    .sectionB__container button {
      width: max-content;
      height: 48px;
      padding: 0 16px;
      margin-top: 40px;
      font-size: 18px;
      font-weight: 700;
      line-height: 22px;
      text-transform: uppercase;
      background-color: #143d52;
      color: white;
      border: unset;
      border-radius: 6px; }
      .sectionB__container button:hover {
        background-color: #246b8f;
        cursor: pointer; }

.sectionC {
  grid-area: sectionC;
  width: 100%;
  height: 888px;
  margin: 0 auto;
  background-color: #151b37; }
  .sectionC__layout {
    width: 100%;
    max-width: 1110px;
    display: grid;
    /* grid-template-columns: repeat(12, 1fr);
		grid-template-rows: auto;
		grid-template-areas:
							"cardA cardA cardA cardA cardA cardA cardA cardA cardA cardA cardA cardA"
							"cardB cardB cardB cardB cardB cardB cardB cardB cardB cardB cardB cardB";
		column-gap: 30px; */
    grid-template-columns: 100%;
    grid-template-rows: auto;
    margin: 0 auto;
    position: relative;
    padding-top: 115px; }

.card {
  width: 685px;
  height: 300px;
  margin: 25px auto;
  position: relative; }
  .card__body {
    width: 633px;
    height: 300px;
    background-color: #172e4f;
    border-radius: 10px; }
  .card__image {
    width: 280px;
    height: 240px;
    background-color: aquamarine;
    position: absolute;
    right: 0%;
    top: calc(0% + 30px); }

footer {
  grid-area: footer;
  width: 100%;
  height: 103px;
  margin: 0 auto; }
