/*---------- RESET DE CSS ----------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	height: 100%;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*---------- TERMINA RESET DE CSS ----------*/

@import 'variables.scss';

body{
	font-family: $fontMontserrat;
}

.main-container{
	width: 100%;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto;
	grid-template-areas:
						"header"
						"sectionA"
						"sectionB"
						"sectionC"
						"footer";
	color: $colorWhite;
}

.header{
	width: 100%;
	height: 100px;
	background-color: $colorSecundary;
	&__layout{
		width: 100%;
		max-width: 1110px;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: auto;
		grid-template-areas:
							"header header header header header header header header header header header header";
		column-gap: 30px;
		margin: 0 auto;
	}
	&__container{
		width: 100%;
		height: 100px;
		align-items: center;
		justify-content: space-between;
		grid-area: header;
		grid-column-start: 2;
		grid-column-end: 12;
		display: flex;
		flex-flow: row nowrap;
	}
	&__logo{
		width: 160px;
		height: 64px;
	}
	nav{
		display: flex;
		flex-flow: row nowrap;
		div{
			margin: 0 30px;
			height: 65px;
			padding: 0 16px;
			padding-top: 35px;
			a{
				text-transform: uppercase;
			}
			&:first-child{
				margin-left: 0px;
				padding-left: 0;
			}
			&:last-child{
				margin-right: 0px;
				padding-right: 0;
			}
		}
	}
}

.sectionA{
	grid-area: sectionA;
	width: 100%;
	height: 400px;
	background: rgb(2,0,36);
	background: linear-gradient(90deg, $colorBlueDark 0%, $colorBlueLight 100%);
	&__layout{
		width: 100%;
		max-width: 1110px;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: auto;
		grid-template-areas:
							"sectionA sectionA sectionA sectionA sectionA sectionA sectionA sectionA sectionA sectionA sectionA sectionA";
		column-gap: 30px;
		margin: 0 auto;
	}
	&__container{
		width: 100%;
		height: 400px;
		align-items: center;
		justify-content: space-between;
		grid-area: sectionA;
		grid-column-start: 2;
		grid-column-end: 12;
		display: flex;
		flex-flow: row nowrap;
	}
	&__texto{
		width: 50%;
		max-width: 445px;
		& h1{
			font-size: 50px;
			font-weight: 800;
			line-height: 61px;
			text-transform: uppercase;
		}
		& p{
			font-size: 15px;
			font-weight: 400;
			line-height: 18px;
			margin-top: 15px;
			& span{
				font-weight: 700;
			}
		}
	}
	&__imagen{
		width: 50%;
		&-container{
			width: 360px;
			height: 300px;
			margin-left: auto;
			position: relative;
			& .chest{
				width: 100%;
			}
			& .coin{
				position: absolute;
				&-front{
					width: 120px;
					top: -80px;
					left: -60px;
				}
				&-back{
					width: 30px;
					top: 60px;
					left: 30px;
				}
				&-middle{
					width: 60px;
					top: 0;
					left: calc(100% - 60px);
				}
			}
		}
	}
}

.sectionB{
	grid-area: sectionB;
	width: 100%;
	height: 500px;
	margin: 0 auto;
	background: no-repeat center url("../resources/blurred-bg.jpg");
	background-size: cover;
	position: relative;
	&-image{
		position: absolute;
		width: 100%;
		bottom: calc(0% - 70px);
		z-index: 1;
	}
	&-overlay{
		width: 100%;
		height: 100%;
		background: rgb(21,27,55);
		background: linear-gradient(0deg, $colorBlueDark 0%, hsla(0,0,0,0.3) 15%);
		position: absolute;
		z-index: 0;
	}
	&__layout{
		width: 100%;
		max-width: 1110px;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: 500px;
		grid-template-areas:
							"sectionB sectionB sectionB sectionB sectionB sectionB sectionB sectionB sectionB sectionB sectionB sectionB";
		column-gap: 30px;
		margin: 0 auto;
		position: relative;
	}
	&__container{
		width: 100%;
		height: min-content;
		align-items: center;
		justify-content: start;
		grid-area: sectionB;
		grid-column-start: 2;
		grid-column-end: 12;
		display: flex;
		flex-flow: column nowrap;
		text-align: center;
		& h2{
			font-size: 50px;
			font-weight: 800;
			line-height: 61px;
			text-transform: uppercase;
			margin-top: 90px;
		}
		& p{
			font-size: 15px;
			font-weight: 400;
			line-height: 18px;
			margin-top: 30px;
		}
		& button{
			width: max-content;
			height: 48px;
			padding: 0 16px;
			margin-top: 40px;
			font-size: 18px;
			font-weight: 700;
			line-height: 22px;
			text-transform: uppercase;
			background-color: $colorComplementary;
			color: $colorWhite;
			border: unset;
			border-radius: 6px;
			&:hover{
				background-color: $colorComplementaryHover;
				cursor: pointer;
			}
		}
	}
}

.sectionC{
	grid-area: sectionC;
	width: 100%;
	height: 888px;
	margin: 0 auto;
	background-color: $colorBlueDark;
	&__layout{
		width: 100%;
		max-width: 1110px;
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: auto;
		margin: 0 auto;
		position: relative;
		padding-top: 115px;
	}
}

.card{
	width: 685px;
	height: 300px;
	margin: 25px auto;
	position: relative;
	&__body{
		width: 633px;
		height: 240px;
		background-color: $colorBackground;
		border-radius: 10px;
		padding-top: 60px;
		h3{
			font-family: $fontMontserrat;
			font-size: 24px;
			font-weight: 700;
			line-height: 29px;
			text-transform: uppercase;
			width: 312px;
		}
		p{
			font-family: $fontMontserrat;
			font-size: 15px;
			font-weight: 400;
			line-height: 18px;
			width: 312px;
			margin-top: 30px;
		}
		&.right{
			margin-right: auto;
			h3, p{
				margin-left: 50px;
			}
		}
		&.left{
			margin-left: auto;
			h3, p{
				margin-left: 271px;
			}
		}
	}
	&__image{
		&.right{
			width: 280px;
			height: 240px;
			position: absolute;
			border-radius: 10px;
			top: calc(0% + 30px);
			right: 0%;
		}
		&.left{
			width: 280px;
			height: 240px;
			position: absolute;
			border-radius: 10px;
			top: calc(0% + 30px);
			left: 0%;
		}
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 10px;
		}
	}
}

footer{
	grid-area: footer;
	width: 100%;
	height: 103px;
	margin: 0 auto;
	background: linear-gradient(90deg, $colorBlueLight 0%, $colorBlueDark 100%);
	.footer__layout{
		width: 100%;
		max-width: 1110px;
		height: 103px;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: auto;
		grid-template-areas:
							"copy copy copy copy logo logo logo logo author author author author";
		column-gap: 30px;
		margin: 0 auto;
		p{
			width: max-content;
			height: max-content;
			font-family: $fontMontserrat;
			font-size: 12px;
			line-height: 15px;
			margin-top: 44px;
		}
		p:first-child{
			grid-area: copy;
			grid-column-start: 2;
		}
		&-logo{
			grid-area: logo;
			margin: 20px auto;
		}
		p:last-child{
			grid-area: author;
			grid-column-end: 12;
			text-align: right;
			margin-left: auto;
			&:hover{
				color: $colorPrimary;
				i:first-child{
					color: red;
				}
				i:last-child{
					color: burlywood;
				}
			}
		}
	}
}