$colorPrimary: hsl(180,100,50);
$colorSecundary: hsl(215, 55, 10);
$colorBlueDark: hsl(230,45,15);
$colorBlueLight: hsl(185,90,25);
$colorWhite: hsl(0,0,100);
$colorComplementary: hsl(200,60,20);
$fontPoppins: 'Poppins', sans-serif;