$colorPrimary: hsl(180,100,50);
$colorSecundary: hsl(215, 55, 10);
$colorSecundaryHover: hsl(215, 55, 15);
$colorBlueDark: hsl(230,45,15);
$colorBlueDarkHover: hsl(230,45,20);
$colorBlueLight: hsl(185,90,25);
$colorWhite: hsl(0,0,100);
$colorComplementary: hsl(200,60,20);
$colorComplementaryHover: hsl(200,60,35);
$colorBackground: hsl(215,55,20);
$fontPoppins: 'Poppins', sans-serif;
$fontMontserrat: 'Montserrat', sans-serif;
$fontWorkSans: 'Work Sans', sans-serif;

$transitionHover: color .15s ease-in-out, background-color .15s ease-in-out;